/* Light Theme Variables */
:root {
    --background-color: rgba(127, 240, 200, 0.745);
    --text-color: #000000;
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
  }
  
  /* Dark Theme Variables */
  .dark-theme {
    --background-color: rgba(20, 20, 20, 0.9);
    --text-color: #f5f5f5;
    --button-bg-color: #333333;
    --button-text-color: #ffffff;
  }
  
  /* Apply Theme Variables */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;  }
  
  /* Button Styles */
  button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background-color: #555555;
  }
  