



body {
    background-image: url('./s.jpg'); /* Path to your image */
    background-size: cover; /* Scales the image to cover the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed on scroll */
    background-color: rgb(5, 255, 251);
    scroll-behavior: smooth;
}
