



body {
    background-image: url('./s.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: rgba(5, 255, 167, 0.684);
    scroll-behavior: smooth;
}
