/* about.css */

/* Default light mode styles for the About section */
.about-container {
    background-color: #ffffff; /* White background for light mode */
    color: #000000; /* Black text for light mode */
    padding: 50px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Default text and heading colors */
.about-container h2, .about-container p {
    color: inherit;
}

.skills-list {
    margin-top: 20px;
}

.skills-list ul {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.skills-list .icon-html,
.skills-list .icon-css,
.skills-list .icon-react,
.skills-list .icon-c,
.skills-list .icon-cplusplus,
.skills-list .icon-python {
    margin-right: 10px;
}

/* Dark mode styles for the About section */
body.dark-mode .about-container {
    background-color: black; /* Black background for dark mode */
    color: #ffffff; /* White text for dark mode */
}

body.dark-mode .about-container h2, 
body.dark-mode .about-container p {
    color: inherit; /* White text for dark mode */
}

body.dark-mode .skills-list li {
    color: inherit; /* White text for skills list */
}
