.typing-element::after {
    content: '|';              
    animation: blink 0.7s step-end infinite; 
  }


  @keyframes blink {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 0; }
    
  }
.mee{
  height: 150px;
  width: auto;
  margin-bottom: 50px;
  border-radius: 40px;
  border-width: 5px;
  border: solid;
  background-color: black;
  


}
.lil{
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

  
