* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #010200; 
    color: white;               
    position: fixed;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10000;
}

.navim {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}

#toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: white; 
    cursor: pointer;
    padding: 10px;
    display: none;
    border-radius: 80px;
}

.navlinks {
    display: flex;
    gap: 40px;
}

.navlinks a {
    color: rgb(4, 249, 236);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
}

.navlinks a:hover {
    color: #ffcc00; 
}

.navlinks a:active {
    color: #ff4800; 
}


body.dark-mode {
    background-image: url('../../../public/dark.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;               
}

body.dark-mode .navbar {
    background-color: #1e1e1e; 
    color: #ffffff;            
}

body.dark-mode .navlinks a {
    color: #0aecf4;          
}

body.dark-mode .navlinks a:hover {
    color: #ffcc00; 
}

body.dark-mode .navlinks a:active {
    color: #ff5e00; 
}

body.dark-mode #toggle {
    color: white;             
}

body.dark-mode .about {
    background-color: #1e1e1e; 
    color: #ffffff;           
}

body.dark-mode .services {
    background-color: #1e1e1e; 
    color: #ffffff;            
}
body.dark-mode .contact {
    background-image: url('./dadesk.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;               
}

.dark-mode-toggle {
    border-radius: 25px;
    height: 40px;
    width: 40px;
    border: solid;
    border-color: #0aecf4;
    border-width: 5px;
    background-color: #ff480000;
}
.dark-mode-toggle:hover {
    border-radius: 25px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .navlinks {
        position: fixed;
        top: 0;
        left: -100%;
        width: 200px;
        height: 100%;
        background-color: #333;
        flex-direction: column;
        padding-top: 60px;
        gap: 15px;
        transition: left 0.3s ease;
    }

    .navlinks.active {
        left: 0;
    }

    #toggle {
        display: block;
    }
}
